
  <h1>Add Friend</h1>
  <form action="/add" method="POST">

   <div class='box'> <input type="text"  placeholder='First name' name='friend[firstname]'/></div>
   <div class='box'> <input type="text" placeholder='Last name' name='friend[lastname']/></div> 
   <div class='box'> <input type="date" name='friend[birthday]'/></div>
   <div class='box'>  <input type="text" placeholder="Interests (comma separated)" name='friend[keywords]'/></div>
   <input type='submit'/>
  </form>
