
<!DOCTYPE html>
<html>
<head>
    <title>Forget Me Not</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/nav.css' />
</head>

<body>
  <div class="topnav">

  <a class="active" href="/">
   <!--  <img class='icon' src='/img/noun_Forget Me Not_2194920.png' />  -->
    Friends</a>
  <a href="/add">Add</a>
  <a href="/results">Etsy</a>

  <% if defined? @searchbar %>
    <form class='search'method="POST" action="/results" >
      <input type='text' style='min-width=100%;min-height=100%;' name='search' /> 
      <input type='submit'/>
    </form>
  <% end %>


</div>
<div class='notnav'>

  <%= yield %>
<!-- <p>Forget Me Not by tulpahn from the Noun Project</p> -->
</div>

</body>
</html>