

html *
{
   /*font-size: 1em !important;*/
   /*color: #000 !important;*/
   font-family: Georgia !important;
}

h2 {
/*  color: blue;*/
}

form {
  margin-top: 8px;
}

form.search {
  float: right;
  margin-right: 10px;
}

input {
  padding: 5px;
  min-width: 50vw;
}

.flex {
  display:flex;
}

.no-overflow {overflow: hidden !important;}

.disabled:hover { cursor: default !important; }

.name {
  background-color: gray;
  color: white;
} 

.friend {
  margin-bottom: 20px;
  border-bottom: 5px solid gray;
}

.box {
  color: #123;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px 5px 10px;
  font-size: 150%;
}

.element {
  display: block;
  padding: 5px;
}
.element:hover{
  background-color: rgba(0,0,0,0.1); 
}

.add_button{
  float: right !important;
  margin-top: -32px;
}

.grid {
  display: flex;
}

.list {
  border-bottom: 2px solid #7f8c8d;
  border-left: 5px solid #f1c40f;
  flex-wrap: wrap;
  padding: 1vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.img_result {
  width: 200px !important;
}

a.etsy {
  text-decoration: none;
  color: inherit;
}

a.etsy:hover{
  background-color: rgba(0,0,0,0.1);
}

.significant{
  font-size: 2em;
  color: rgba(210, 82, 127, 0.5);
}

.hide {
  display: none;
}

.highlight {
  border-bottom: 5px solid rgba(210, 82, 127, 0.5) !important;
}

.results-wrapper{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sidebar {

  position: -webkit-sticky;
  position: sticky;

}

.friends-wrapper {
  width: 70vw;
  background-color: #fff;
  color: #444;
/*  display: flex;
  flex-direction: column;*/
}


.friends-wrapper,
.sidebar {
  height: 90vh !important;
  float: left;
  overflow: auto;
  border-radius: 10px;
  color: gray;
  padding: 15px;
  box-sizing: border-box;
}

.wrapper {
/*  display: flex;
  justify-content: space-between;*/
}
/*.sidebar {
  width: 20vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
/*  max-width: 50px;*/
}

.sidebar-item {
  font-size: 1.5em;
  padding: 5px;
  font-weight: 700;
  border-bottom: 1px solid gray;
}

.sidebar-item:hover {
 background-color: rgba(230, 126, 34,0.1);
}

.sidebar-item:active {
 background-color: rgba(230, 126, 34,1);

color: white !important;
}





